.library{
    &__inner{
        padding:90px
    }

    &__title{
        color:white;
        font-weight:700;
        font-size:62px;
        text-align:center;
    }
    &__catalog{
        padding-top: 120px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 50px;
        grid-row-gap: 0px;
    }
}