.project__item {
  border: 2px solid red;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s linear;

  @media (max-width: 768px) {
    width: 200px;
    height: auto;
  }

  &:hover {
    transform: scale(1.1, 1.1);
    background-color: red;
  }

  &-title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }

  &-icon {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
}
